<section>
    <div class="about-img">
        <img class="me" src="assets/me.jpeg"/>
    </div>

    <div class="about">
        <h1>{{ "about.aboutMe" | translate}}</h1>
        
        <h3>{{"about.myName" | translate}} <span class="name">{{"about.fullName" | translate}}</span></h3>

        <p>{{ "about.descriptionOne" | translate}}
            <span class="important">{{ "about.thesis" | translate}}</span>
        </p>

        <br>
        
        <p>{{ "about.descriptionTwo" | translate}}</p>
        
        <div class="text-info">
            <img class="bee" src="assets/bee.svg" alt="pszczolka.png"/>
        </div>
    </div>
</section>

<!-- TODO ZROBIĆ GRADIENTOWY BACKGROUND KTÓRY SIĘ RUSZA -->