<section>
    <div class="about-img">
        <img class="me" src="assets/me.jpeg"/>
    </div>

    <div class="about">
        <h1>O Mnie</h1>
        
        <h3>Nazywam się <span class="name">Oskar Lewna</span></h3>

        <p>Jestem studentem magisterki na Uniwersytecie Gdańskim. Za sobą mam już ukończony licencjat z programowania. Aktualnie jestem w trakcie pisania pracy magisterskiej na temat 
            <span class="important">Protokołów Populacyjnych</span>
        </p>

        <br>

        <p>Ciągle się rozwijam pod względem Frontendu, Backendu oraz GameDevu. Jestem uczciwą i pracowitą pszczółką</p>
        <div class="text-info">
            
            <img class="bee" src="assets/bee.svg"/>
        </div>
    </div>
</section>