<nav class="navbar">
    <div class="logo">
        <span class="white">Port</span><span class="colored">folio</span>
    </div>

    <div class="right-side">
        <ul class="nav-links desktop-nav">
            <li><a (click)="gotoHome()">{{ 'navbar.home' | translate }}</a></li>
            <li><a (click)="gotoProjects()">{{ 'navbar.projects' | translate}}</a></li>
            <li><a (click)="gotoAbout()">{{ 'navbar.about' | translate}}</a></li>
            <!-- <li><a routerLink="/experience">Doświadczenie</a></li>
            <li><a routerLink="/skills">Umiejętności</a></li> -->
        </ul>

        <div class="languages"  (click)="$event.stopPropagation()">
            @if (currentLanguage==='pl') {
                <span (click)="toggleLanguageMenu()" class="fi fi-pl"></span>
            } @else if (currentLanguage==='en') {
                <span (click)="toggleLanguageMenu()" class="fi fi-us"></span>
            }

            @if (languageMenuOpen) {
                <ul class="language-menu">
                    <li (click)="switchLanguage('en'); closeLanguageMenu()"><span class="fi fi-us"></span> English</li>
                    <li (click)="switchLanguage('pl'); closeLanguageMenu()"><span class="fi fi-pl"></span> Polski</li>
                </ul>
            }
        </div>
    
        <div class="menu-toggle mobile-nav" (click)="toggleMenu(); $event.stopPropagation()">☰</div>
        
        <!-- Mobilne menu, które wysuwa się po kliknięciu -->
        @if (menuOpen) {
            <ul class="nav-links mobile-menu">
                <li><a (click)="gotoHome(); closeMenu()">{{ 'navbar.home' | translate}}</a></li>
                <li><a (click)="gotoProjects(); closeMenu()">{{ 'navbar.projects' | translate}}</a></li>
                <li><a (click)="gotoAbout(); closeMenu()">{{ 'navbar.about' | translate}}</a></li>
            </ul>
        }
    
    </div>
</nav>