.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--background-color);
    position: relative;
    z-index: 1000;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid var(--border-color-nav);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    cursor: default;
}

.logo .white {
    color: var(--font-color);
}

.logo .colored {
    color: var(--violet);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--violet);
    cursor: pointer;
}