.light {
    .language {
        color: var(--another-font-color-light);
    }

    .card {
        box-shadow: 0 4px 10px var(--border-color-nav-light);
    }
    
    .card::before {
        background-color: var(--background-card-light);
        box-shadow: 0 4px 10px var(--border-color-nav-light);
    }

    .card:hover::before {
        filter: brightness(0.97);
    }

    img {
        border: 1px solid var(--border-color-nav-light);
    }
}

.dark {
    .language {
        color: var(--another-font-color);
    }

    .card {
        box-shadow: 0 4px 20px var(--border-color-nav);
    }
    
    .card::before {
        background-color: var(--background-card);
        box-shadow: 0 4px 20px var(--border-color-nav);
    }

    .card:hover::before {
        filter: brightness(1.2);
    }

    img {
        border: 1px solid var(--border-color-nav);
    }
}

section {
    padding-left: 20%;
    padding-right: 20%;

    .loading {
        padding-top: 20%;
        font-size: 4rem;
        text-align: center;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
        align-items: center;
        justify-items: center;
        gap: 2rem;
        margin-top: 5rem;
        padding-left: 0;
        
        .card {
            padding: 24px;
            border-radius: 20px;
            z-index: 0;
            position: relative;
            overflow: hidden;
            transition: background-color 0.3s ease;
        
            img {
                height: auto;
                width: 100%;
                border-radius: 0.5rem;
                margin-bottom: 1.5rem;
            }
    
            // .language {
            //     color: var(--another-font-color);
            // }
        
            .title {
                font-size: 32px;
                font-family: "Playfair Display", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }
        }
        
        .card::before {
            content: '';
            position: absolute;
            inset: 0;
            // background-color: var(--background-card);
            z-index: -1;
            transition: filter 0.3s ease;
        }
    }
}

@media (max-width: 768px) {
    section {
        padding: 5px;
        padding-left: 8%;
        padding-right: 8%;
        // padding-top: 5%;

        
        ul {
            margin: 0;
        }
    }
}

@media (max-width: 425px) {
    section {
        padding: 16px;
        // padding-left: 16%;
        // padding-right: 16%;
        // padding-top: 5%;
        .loading{
            font-size: 44px;
        }

        ul {
            margin: 0;
            grid-template-columns: auto;

            .card {
                padding: 16px;

                img {
                    // width: 80%;
                }

                .title {
                    font-size: 24px;
                }

                .language {
                    font-size: 16px;
                }
            }
        }
    }
}