<section>
    @if (loading) {
        <div class="loading">Ładowanie...</div>
    } @else if (projects.length > 0) {
        <ul>
            @for (project of projects; track project.id) {
            <li class="card" (click)="goToDetails(project.id)">
                <div class="image anim">
                    <img [src]="project.images[0].url" [alt]="project.title + ' image'" />
                </div>
                <div class="language anim">{{project.languages}}</div>
                <div class="title anim">{{project.title}}</div>
            </li>
            }
        </ul>
    } @else {
        <div>Nie ma projektów :((</div>
    }
</section>

 <!-- TODO ZROBIĆ ANIMACJE DLA KAŻDEGO Z DELAYEM -->
<!-- TODO ZROBIĆ GRADIENTOWY BACKGROUND KTÓRY SIĘ RUSZA -->