<main>
    <video autoplay loop muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" class="background-video">
        <source src="assets/background-coding.mp4" type="video/mp4">
        Przeglądarka nie jest wspierana
    </video>
    <div class="home-text">
        <h4 class="anim">Hejka!</h4>
        <h1 class="pre-name anim">jestem</h1>
        <br> 
        <h1 class="name anim">Oskar</h1>
        <h3 class="anim"><i>Software Developer</i></h3>
    </div>
</main>

<!-- TODO ZROBIĆ ANIMACJE DLA KAŻDEGO Z DELAYEM -->