main {
    padding-top: 12%;
    padding-left: 30%;
    padding-right: 30%;

    .home-text {
        width: 25%;

        h4 {
            font-size: 24px;
            color: var(--violet);
            text-decoration: underline;
        }

        h1 {
            font-size: 64px;
        }
    }
}