<main>
    <video autoplay loop muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" class="background-video">
        <source src="assets/background-coding.mp4" type="video/mp4">
        {{ "home.browserNotCompatible" | translate}}
    </video>
    <div class="home-text">
        <h4 class="anim">{{ "home.hi" | translate }}</h4>
        <h1 class="pre-name anim">{{ "home.preName" | translate}}</h1>
        <br> 
        <h1 class="name anim">{{ "home.name" | translate}}</h1>
        <h3 class="anim"><i>{{ "home.role" | translate}}</i></h3>
    </div>
</main>